.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajusta la altura según tus necesidades */
}

.image-container {
  flex: 2%;
  text-align: center;
}

.login-container {
  flex: 1;
  /* Estilos para el formulario de inicio de sesión */
}
