<div style="position: absolute; top: 90px; right: 35px;">
  <po-search
    class="po-md-12"
    name="Po Search"
  ></po-search>
</div>
<div class="po-mt-4">
  <po-container class="po-lg-11" style="position: absolute; top: 150px; left: 80px;">

    <po-container class="po-lg-12" [p-height]="80">
      <h3 class="po-font-subtitle po-text-center po-mt-1">Amerian Buenos Aires</h3>
      <div class="po-font-text-bold" style="position: absolute; top: 30px; left: 60px;">Status:</div>
      <div style="position: absolute; top: 60px; left: 60px;">Activo</div>
      <div class="po-font-text-bold" style="position: absolute; top: 30px; right: 60px;">Idhotel:</div>
      <div style="position: absolute; top: 60px; right: 60px;">4325</div>
      <!--{ { content }}-->
    </po-container>

    <po-widget class="po-lg-2 po-mt-1" [p-height]="372">
      <div class="po-text-center po-font-text-bold">Contactos:</div>
      <div class="po-text-center">Administración:</div>
      <div class="po-text-center">1145625494</div>
      <div class="po-text-center">Recepción:</div>
      <div class="po-text-center">1125678421</div>
      <div class="po-text-center">Técnico:</div>
      <div class="po-text-center">1165637225</div>
      <div class="po-text-center">Correo:</div>
      <div class="po-text-center">amerian@gamil.com</div>
    </po-widget>

    <po-container class="po-lg-8 po-mt-1">
      <po-table
      [p-columns]="columns"
      [p-items]="items"
      [p-hide-columns-manager]="true"
      [p-auto-collapse]="true"
      [p-hide-table-search]="true"
      [p-sort]="false"
      [p-striped]="false"
      [p-selectable]="false"
      [p-actions-right]="false"
      >
    </po-table>
    </po-container>

    <po-widget class="po-lg-2 po-mt-1" [p-height]="116">
      <div class="po-text-center po-font-text-bold">Licencias:</div>
      <div class="po-text-center">User: AMERIAN</div>
      <div class="po-text-center">Password: AMERIAN</div>
    </po-widget>

    <po-widget class="po-lg-2 po-mt-0" [p-height]="248">
      <div class="po-text-center po-font-text-bold">Version Módulos:</div>
      <div class="po-text-center">VHF: 12.06.02</div>
      <div class="po-text-center">POS: 5.08.04</div>
      <div class="po-text-center">Modulo Global: 12.06.02</div>
      <div class="po-text-center">Libro Argentina: 6.01.0</div>
      <div class="po-text-center">Cuentas por pagar: 5.02.05</div>
      <div class="po-text-center">Cuentas por cobrar: 5.02.05</div>
    </po-widget>

    <po-widget class="po-lg-12 po-mt-1" [p-height]="155">
      <div class="po-font-text-bold">Observaciones:</div>
      <div class="po-text-center">Migrado a version 12</div>
      <div class="po-text-center">Actualizado FEarg 3.93</div>
      <div class="po-text-center">Migro a libro argentina 6</div>
      <div class="po-text-center">Falto Actualizar la pc de administración a version 12</div>
    </po-widget>

  </po-container>
</div>
