<div class="po-font-text-bold po-mt-4 container-h2">
  <h2>DASHBOARD</h2>
</div>
<div class="containe-dashboard">
<po-page-default>
  <po-container class="po-lg-12">
    <po-table p-striped="true" [p-hide-table-search]="false"> </po-table>
    <po-widget class="po-lg-2 po-mb-4" p-title="Daily visitors">
      <div class="po-font-subtitle po-text-center">540</div>
      <div class="po-text-center sample-container-dashboard">www.po.com.br</div>
    </po-widget>

    <po-widget class="po-lg-2 po-mb-4" p-title="Most viewed page" style="position: absolute; top: 145px; right: 50px;">
      <div class="po-font-subtitle po-text-center">300 views</div>
      <div class="po-text-center sample-container-dashboard">https://po-ui.io</div>
    </po-widget>
  </po-container>
</po-page-default>
</div>
